pkg/
src/
*.pkg.tar.*
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz

*.sig

*.log

*.tmp
*.bak
*.swp
*.old

__pycache__/
*.pyc

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db

.git/

*.tar
*.tar.gz
*.tar.xz
*.tar.zst

*.patch~
